<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content no-padding>
    <p text-center *ngIf="posts.length == 0">No Offline Posts</p>
    <ion-card *ngFor="let post of posts">
      <ion-img src="{{post._embedded['wp:featuredmedia'][0].source_url}}"></ion-img>
      <ion-card-header>
        <ion-card-title (click)="goToPostDetail(post)">
          {{post.title.rendered}}
        </ion-card-title>
        <p>{{post.date | smartDate:15}} by <a class="userUrl" (click)="getUserProfile(post._embedded.author[0].id)">{{post._embedded.author[0].name}}</a></p>
        <ion-icon name="trash" (click)="removeOffline(post)"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="post.excerpt.rendered"></p>
      </ion-card-content>
    </ion-card>
  </ion-content>