<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content no-padding>
    <ion-card>
      <ion-img src="{{post._embedded['wp:featuredmedia'][0].source_url}}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{post.title.rendered}}</ion-card-title>
        <p>{{post.date | smartDate:15}} by <a class="userUrl">{{post._embedded.author[0].name}}</a></p>
      </ion-card-header>
      <ion-card-content>
        <p [innerHTML]="post.content.rendered"></p>
      </ion-card-content>
    </ion-card>
  </ion-content>